@import '~/assets/css/myset.scss';

:root{
  font-family:
    "futura-pt-bold", // typekit
    'source-han-sans-japanese', // typekit
    'Helvetica Neue', /* Macの欧文 (OS X 10.10以前) */
    'Segoe UI',       /* Windowsの欧文 */
    YuGothicM,        /* Windows8.1以上は游ゴシック */
    YuGothic,         /* Macの游ゴシック */
    Meiryo,           /* 游ゴシックが入っていないWindows */
    sans-serif;
}

/* scroll out js */
[data-scroll] {
  // transition: all 1s $ease-out;
}
[data-scroll="in"] {
  opacity: calc(var(--visible-y));
}
[data-scroll="in"][data-so-scale] {
  opacity: calc(var(--visible-y));
  transform: scale(calc(var(--visible-y) * 0.5 + 0.5));
}
[data-scroll="out"] {
  opacity: 0;
}
[data-scroll="out"][data-so-scale]{
  transform: scale(0);
}

/* nuxt page transition */
.page-enter-active {
  position: relative;
  $duration: 1.6s;
  $delay: 0s;
  animation: page-enter $duration $ease-out $delay both;
  @keyframes page-enter{
    0%{
      transform: translateX(100vw);
    }
    66%{
      transform: translateX(0);
    }
    100%{
      transform: translateX(0);
    }
  }
  &::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: inherit;
    transform-origin: right;
    animation: over-enter $duration $ease-out $delay both;
    z-index: 99;
    @keyframes over-enter{
      0%{
        transform: translateX(0);
      }
      100%{
        transform: translateX(-100vw);
      }
    }
  }
}
.page-leave-to {
  position: relative;
  $duration: 1.1s;
  $delay: 0.05s;
  animation: page-leave $duration $ease-out $delay both;
  @keyframes page-leave{
    0%{
      transform: translateX(0);
    }
    50%{
      transform: translateX(-100vw);
    }
    100%{
      transform: translateX(-100vw);
    }
  }
  &::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: inherit;
    z-index: -1;
    $under-delay: 0.15s;
    animation: over-leave $duration - $under-delay $ease-out $under-delay + $delay both;
    @keyframes over-leave{
      0%{
        transform: translateX(100vw);
      }
      100%{
        transform: translateX(0);
      }
    }
  }
}

// popup animation
.pop-enter-active{
  transition: all 0.5s $ease-out-back;
  transition-delay: 0.3s;
}
.pop-leave-active{
  transition: all 0.9s ease;
}
.pop-leave-to {
  opacity: 0;
  transform: translateY(-100px);
}
.pop-enter{
  opacity: 0;
  transform: scale(0);
}

// simple fade animation
.fade-enter-active{
  transition: all 0.5s ease;
}
.fade-leave-active{
  transition: all 0.7s ease;
}
.fade-leave-to {
  opacity: 0;
}
.fade-enter{
  opacity: 0;
}
